:root {
    --blackish: #010108;
    --dark_purple: #1B0259;
    --light_purple: #866BC9;
    --navy_black: #0E0D30;
    --dark_blue: #050178;
    --royal_blue: #0704C2;
    --pastel_blue: #4D7BF0;
    --whiteish: #FCFCFC;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#paper {
    margin: 2vh;
    padding: 5vh;
    margin-top: 3vh;
    background-color: rgb(240, 237, 224);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

h1 {
    text-transform: uppercase, full-width;
}

h2 {
    text-transform: capitalize, full-width;
}

#headline-section {
    background-color: brown;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 100%;
}

.articles {
    height: 40vh;
    width: 100%;
    margin: 2vh 0px;
    padding: 0 2vh;
    position: relative; 
}

.articles > h2, h3 {
    text-transform:  capitalize;
    font-size: larger;
}

.articles > p {
    border: 3px solid #85f5ef;
    height: 31vh;
    display: block;
}

#article1 {
    height: 67vh;
}

.arts {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30vw;
    max-height: calc(30vh - -60px);
    width: 30vw;
    max-width: calc(30vh - -60px);
    border: 3px solid #866BC9;
}

#front-page-article {
    background-color: red;
    height: 75vh;
}

#second-article {
    background-color: orange;
}

#third-article {
    background-color: yellow;
}

#fourth-article {
    background-color: green;
}

#fifth-article {
    background-color: blue;
}

.ads {
    height: 15vh;
    width: 50vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#ad1 {
    background-color: lavender;
}

#ad2 {
    background-color: pink;
}

#ad3 {
    background-color: palegoldenrod;
}

#ad4 {
    background-color: lightcyan;
}